[Unit]
Description=Sistema de Recuperación
Documentation=man:huayra-recovery
After=getty@tty1.service

[Service]
Type=idle
EnvironmentFile=-/etc/default/huayra-recovery
ExecStart=/usr/sbin/huayra-recovery
User=root
Group=root
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty10

[Install]
WantedBy=default.target
